/* Write some CSS below */
/* Start by defining broadest category "body" and then change specific parameters with narrower categories */

body {
	font-family: 'Overpass', sans-serif;
	font-size: 18px;
	color: rgb(30, 30, 30);
	background-color: rgb(230, 230, 230);
}

h1, h2 {
	font-family: 'Chivo', sans-serif;
}

a {
	color: #1b48e3;
	text-decoration: none;
	font-weight: bold;
}

a: hover {
	color: red;
}

/* Custom class design */

.btn-blue {
	background-color: #1b48e3;
	color: white;
	padding: 10px 15px;
	border-right: 2px;
}

.banner {
	background-image: url(images/background.jpg);
	background-size: cover;
	color: white;
	text-align: center;
	padding: 150px 0px;
}

.banner h1 {
	font-size: 40px;
}

.banner p {
	font-size: 20px;
	opacity: 0.7;
	margin-bottom: 40px;
}

.card-white {
	background-color: white;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
	padding: 18px;
	border-radius: 3px;
	margin: 20px;
	text-align: center;
}

.card-white img {
	width: 240px;
	height: 180px;
	object-fit: cover;
	border-radius: 4px;
}

.container {
	width: 800px;
	margin: auto;
}

.footer{
	background-color: #404042;
	padding: 50px 0px;
	text-align: center;
}

.footer p {
	color: white;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}